<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>INICIO</title>

</head>
<body>
    <h1 class="title">Copa America 2024</h1>
    <div class="box">
        <h3>Fase de Grupos</h3>
        <!-- Grupo A -->
        <div class="box-group">
            <fieldset>
                <legend>Grupo A</legend>
                <ul>
                    <li class="list--element">Argentina</li>
                    <li class="list--element">Canada</li>
                    <li class="list--element">Chile</li>
                    <li class="list--element">Perú</li>
                </ul>
        </fieldset>
        </div>
        
        <!-- Grupo B -->
        <div class="box-group">
            <fieldset>
                <legend>Grupo B</legend>
                <ul>
                    <li class="list--element">Venezuela</li>
                    <li class="list--element">Ecuador</li>
                    <li class="list--element">Mexico</li>
                    <li class="list--element">Jamaica</li>
                </ul>
        </fieldset>
        </div>

        <!-- Grupo C -->
        <div class="box-group">
            <fieldset>
                <legend>Grupo C</legend>
                <ul class="box-group__list">
                    <li class="list--element">Uruguay</li>
                    <li class="list--element">Panama</li>
                    <li class="list--element">Estados Unidos</li>
                    <li class="list--element">Bolivia</li>
                </ul>
        </fieldset>
        </div>

        <!-- Grupo D -->
        <div class="box-group">
            <fieldset>
                <legend>Grupo D</legend>
                <ul>
                    <li class="list--element">Colombia</li>
                    <li class="list--element">Brasil</li>
                    <li class="list--element">Costa Rica</li>
                    <li class="list--element">Paraguay</li>
                </ul>
        </fieldset>
        </div>
    </div>
    <!-- FIXTURE -->
    <h3 class="bracket--title">BRACKET COPA AMERICA 2024</h3>
    
    <div class="conteiner">
        <!-- CUARTOS DE FINAL LADO IZQUIERDO -->
        <div class="conteiner--game game1">
            <div class="circle circle1"> <img src="/static/imagenes/argentina.png"> </div>
            <div class="circle circle2"><img src="/static/imagenes/ecuador_640.png"> </div>
            <!-- CARD CON INFO DEL PARTIDO -->
            <span class="tooltip--text">
                <div class="tooltip--text__card">
                    <h6 class="card--time">Jue, 04/07</h6>
                    <h7 class="card--title">Cuartos de final</h7>
                    <div class="card--block">
                        <p class="pais">Argentina <br><b class="number">1</b></p>
                        <p class="pais"><b class="versus">VS</b></p>
                        <p class="pais"> <b class="number">1</b><br>Ecuador</p>
                    </div>
                    <div class="card--block">
                        <p class="location">NRG Stadium - Houston, TX</p>
                    </div>
                </div>
            </span>
        </div>

        <div class="conteiner--game game2">
            <div class="circle circle3"><img src="/static/imagenes/venezuela_640.png"></div>
            <div class="circle circle4"><img src="/static/imagenes/canada_640.png"></div>
            <!-- CARD CON INFO DEL PARTIDO -->
            <span class="tooltip--text">
                <div class="tooltip--text__card">
                    <h6 class="card--time">Vie, 05/07</h6>
                    <h7 class="card--title">Cuartos de final</h7>
                    <div class="card--block">
                        <p class="pais">Venezuela<br><b class="number">1</b></p>
                        <p class="pais"><b class="versus">VS</b></p>
                        <p class="pais"> <b class="number">1</b><br>Canada</p>
                    </div>
                    <div class="card--block">
                        <p class="location">AT&T Stadium - Arlington, TX</p>
                    </div>
                </div>
            </span>
        </div>
        <!-- SEMIFINAL LADO IZQUIERDO -->
        <div class="conteiner--game game3">
            <div class="circle circle7"><img src="/static/imagenes/argentina.png"></div> 
            <div class="circle circle8"><img src="/static/imagenes/canada_640.png"></div>
            <!-- CARD CON INFO DEL PARTIDO -->
            <span class="tooltip--text">
                <div class="tooltip--text__card">
                    <h6 class="card--time">Mar, 09/07</h6>
                    <h7 class="card--title">Semifinal</h7>
                    <div class="card--block">
                        <p class="pais">Argentina<br><b class="number">2</b></p>
                        <p class="pais"><b class="versus">VS</b></p>
                        <p class="pais"> <b class="number">0</b><br>Canada</p>
                    </div>
                    <div class="card--block">
                        <p class="location">MetLife Stadium - East Rutherford, NJ</p>
                    </div>
                </div>
            </span>
        </div>
        <!-- CUARTOS DE FINAL LADO DERECHO -->
        <div class="conteiner--game game4">
            <div class="circle circle8"><img src="/static/imagenes/colombia_640.png"></div> 
            <div class="circle circle7"><img src="/static/imagenes/panama_640.png"></div>
            <!-- CARD CON INFO DEL PARTIDO -->
            <span class="tooltip--text">
                <div class="tooltip--text__card">
                    <h6 class="card--time">Sab, 06/07</h6>
                    <h7 class="card--title">Cuartos de final</h7>
                    <div class="card--block">
                        <p class="pais">Panama<br><b class="number">0</b></p>
                        <p class="pais"><b class="versus">VS</b></p>
                        <p class="pais"> <b class="number">5</b><br>Colombia</p>
                    </div>
                    <div class="card--block">
                        <p class="location">NRG Stadium - Houston, TX</p>
                    </div>
                </div>
            </span>
        </div>
        <div class="conteiner--game game5">
        <div class="circle circle9"><img src="/static/imagenes/uruguay_640.png"></div>
        <div class="circle circle10"><img src="/static/imagenes/brazil_640.png"></div>
        <!-- CARD CON INFO DEL PARTIDO -->
        <span class="tooltip--text">
            <div class="tooltip--text__card">
                <h6 class="card--time">Sab, 06/07</h6>
                <h7 class="card--title">Cuartos de final</h7>
                <div class="card--block">
                    <p class="pais">Uruguay<br><b class="number">0</b></p>
                    <p class="pais"><b class="versus">VS</b></p>
                    <p class="pais"> <b class="number">0</b><br>Brasil</p>
                </div>
                <div class="card--block">
                    <p class="location">Allegiant Stadium - Las Vegas, NV</p>
                </div>
            </div>
        </span>
        </div>
        <!-- SEMIFINAL LADO DERECHO-->
        <div class="conteiner--game game6">
        <div class="circle circle11"><img src="/static/imagenes/colombia_640.png"></div>
        <div class="circle circle12"><img src="/static/imagenes/uruguay_640.png"></div>
        <!-- CARD CON INFO DEL PARTIDO -->
        <span class="tooltip--text">
            <div class="tooltip--text__card">
                <h6 class="card--time">Mié, 10/07</h6>
                <h7 class="card--title">Semifinal</h7>
                <div class="card--block">
                    <p class="pais">Colombia<br><b class="number">1</b></p>
                    <p class="pais"><b class="versus">VS</b></p>
                    <p class="pais"> <b class="number">0</b><br>Uruguay</p>
                </div>
                <div class="card--block">
                    <p class="location">Bank of America Stadium - Charlotte, NC</p>
                </div>
            </div>
        </span>
        </div>
        <!-- FINAL -->
        <div class="conteiner--game game7">
        <h4 class="title--game">Final</h4>
        <div class="circle circle13"><img src="/static/imagenes/argentina.png"></div>
        <div class="circle circle14"><img src="/static/imagenes/colombia_640.png"></div>
        <!-- CARD CON INFO DEL PARTIDO -->
        <span class="tooltip--text">
            <div class="tooltip--text__card">
                <h6 class="card--time">Dom, 14/07</h6>
                <h7 class="card--title">Final</h7>
                <div class="card--block">
                    <p class="pais">Argentina <br><b class="number">1</b></p>
                    <p class="pais"><b class="versus">VS</b></p>
                    <p class="pais"> <b class="number">0</b><br>Colombia</p>
                </div>
                <div class="card--block">
                    <p class="location">Hard Rock Stadium - Miami, FL</p>
                </div>
            </div>
        </span>
        </div>
    </div> 
</body>
</html>