<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>
    <h1>Iniciar Sesión</h1>
    <form action="{{ url_for('login') }}" method="post">
        <label for="correo">Correo:</label>
        <input type="email" id="correo" name="correo" required>

        <label for="clave">Contraseña:</label>
        <input type="password" id="clave" name="clave" required>

        <button type="submit">Iniciar Sesión</button>
    </form>
    <a href="{{ url_for('registro') }}">Crear una cuenta</a>
</body>
</html>

